{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-project1{% endblock %}
{% load staticfiles %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href= "{% static "css/sealscript.css" %}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
</head>
<body>
<div class  = "header">
    <div class = "words">
        {{ page.title }}
    </div>

    <div class = "logo">
        <div class = "logoContainer">
            <a href=/#>
                <img src = "{% static "assets/logo.png" %}"/>
            </a>
        </div>
    </div>

    <!-- <div class = "logoContainer">
        <div class = "socialMediaLogo"><img src = "{% static "assets/gFacebook.png" %}"/> <img src = "{% static "assets/Facebook.png" %}"/></div>
        <div class = "socialMediaLogo"><img src = "{% static "assets/gTwitter.png" %}"/><img src = "{% static "assets/Twitter.png" %}"/></div>
        <div class = "socialMediaLogo"><img src = "{% static "assets/gGoogle+.png" %}"/><img src = "{% static "assets/Google+.png" %}"/></div>
    </div> -->

    <div class = "navigation">
        <a href=/contact-us/><div class = "button">CONTACT US</div></a>
        <a href=/about-us/><div class = "button">ABOUT US</div></a>
        <div class = "dropdown">
            <div onclick="clickFunction()" class="button">OUR PROJECTS</div>
            <div id="projectDropdown" class="dropdown-content">
                {% for page in self.get_parent.get_children.specific %}
                {% if page.project_page %}
                <a href={{page.url}}>{{page.title}}</a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class = "col sqs-col-3 span-3">
    <h1 class = "text-align-center">{{page.title}}</h1>
    <h2 class = "text-align-center">__</h2>
    <h2 class = "text-align-center">{{page.body|richtext}}</h2>
</div>
<div class = "content">
</div>
<div class = "content">
    <div>
        {% if page.company_image %}
        {% image page.company_image width-650 %}
        {% endif %}
    </div>
</div>

</body>
{% endblock %}

